* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 30px;
    color: #333;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 35px; 
}

p {
    font-family: 'Carattere', sans-serif; 
    font-size: 20px; 
    margin: 0; 
    margin-top: 10px;
    align-self: flex-start; 
    font-weight: bold;

}

.card {
    width: 100%;
    max-width: 100%; 
    height: auto;
    margin-bottom: 25px;
    padding: 20px;
}

.card img {
    width: 100%; 
    border-radius: 15px;
}
.info {
    padding: 5%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-between; /* Garante que os elementos no topo e no fim do card fiquem espaçados */
    height: 100%; /* Garante que a seção info ocupe todo o espaço disponível */
    
    
}

.info h2 {
    font-family: 'Carattere', sans-serif; 
    font-size: 36px; 
    line-height: 41px; 
    margin: 0px 0 0px; 
    color: #333;
    font-weight: bold;
}

.info p.idade {
    font-family: 'Carattere', sans-serif; 
    font-size: 20px; 
    margin: 0; 
    margin-top: 10px;
    align-self: flex-start; 
    font-weight: bold;
}

.info p.lar {
    font-family: 'Carattere', sans-serif;
    font-size: 20px;
    margin: 0; 
    color: #333;
    font-weight: bold;


    
    
    
}


.info p.atividades, .info p.atividadesp {
    font-family: 'Poppins', sans-serif; 
}
.info p.atividades {
    margin-top: 15px;
    font-size: 20px; 
    font-weight: 400; 
    line-height: 15px; 
    margin-bottom: 0.5px;
}
.info p.atividadesp {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px; 
    font-weight: 400; 
    line-height: 18px; 
}

.saiba-mais {
    margin-left: -5%;
    margin-bottom: -20px; 
    background-color: transparent; 
    color: #693A00; 
    border: none; 
    cursor: pointer; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    padding: 5px 5px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    white-space: nowrap; 
}

.saiba-mais:hover {
    background-color: #e0e0e0; 
}

.line {
    width: 300%; 
    height: 0.5px; 
    background-color: #A66C00; 
    margin: 7px -23.5px;
    margin-top: auto; /* Isso 'empurra' a linha e o botão para o final do card */

}

/* Ajustes para dispositivos menores */
@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }

    .info {
        padding: 10%;
    }

    .info h2 {
        font-size: 28px; /* Ajuste para caber melhor na tela */
        line-height: 36px;
    }

    .info p.idade, .info p.lar {
        font-size: 18px;
    }

    .info p.atividades, .info p.atividadesp {
        font-size: 16px;
    }

    .saiba-mais {
        font-size: 18px; 
        padding: 5px 10px;
    }

    .line {
        width: 100%; /* A linha ocupará a largura do card em telas menores */
        margin: 5px 0;
    }
}

/* Ajustes adicionais para telas muito pequenas */
@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    .info h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .info p.idade, .info p.lar, .info p.atividades, .info p.atividadesp {
        font-size: 14px;
    }

    .saiba-mais {
        font-size: 16px;
    }

    .line {
        margin: 5px 0;
    }
}


