* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 30px;
    color: #333;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 35px; 
}

.card {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    overflow: hidden;
    transition: transform 0.3s;
    width: 100%; 
    height: auto;
    margin-bottom: 35px;
    padding: 20px;
    display: flex; 
    max-width: 45%;
}

.card img {
    width: 170px; 
    height: 218px; 
    object-fit: cover; 
}

.info {
    padding: 5%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.info h2 {
    font-family: 'Carattere', sans-serif; 
    font-size: 36px; 
    line-height: 41px; 
    margin: 0px 0 0px; 
    color: #333;
    font-weight: bold;
}

.info p.idade {
    font-family: 'Carattere', sans-serif; 
    font-size: 20px; 
    margin: 0; 
    margin-top: -5px;
    align-self: flex-start; 
    font-weight: bold;
}


.info p.atividades, .info p.atividadesp {
    font-family: 'Poppins', sans-serif; 
}
.info p.atividades {
    margin-top: 5px;
    font-size: 11px; 
    font-weight: 400; 
    line-height: 17px; 
    margin-bottom: 0.5px;
}
.info p.atividadesp {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px; 
    font-weight: 400; 
    line-height: 18px; 
}

.saiba-mais {
    margin-left: -5%;
    margin-bottom: -20px; 
    background-color: transparent; 
    color: #693A00; 
    border: none; 
    cursor: pointer; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    padding: 5px 5px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    white-space: nowrap; 
}

.saiba-mais:hover {
    background-color: #e0e0e0; 
}

.line {
    width: 300%; 
    height: 0.5px; 
    background-color: #A66C00; 
    margin: 7px -23.5px; 
}