/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 80px;
  padding: 0 20px;
}

.logo {
  width: 71px;
  height: 58px;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #A66C00;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-weight: 550;
}

.header {
  display: flex;
  align-items: center;
}

.mdi-user {
  margin-right: 10px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  

  .nav-item {
    font-size: 16px;
    padding: 10px 0;
  }

  /* Estilos para o ícone do menu "hambúrguer" */
  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  /* Estilo para exibir os itens de navegação quando o menu está ativo */
  .nav-items.active {
    display: flex;
  }
}
