@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;600&display=swap');


html {
  scroll-behavior: smooth;
}


a {
  text-decoration: none; 
  color: inherit; 
}

/*BANNER*/

.banner-image {
  width: 100%;
  height: 800px;
  object-fit: cover;
}


/*DEPOIMENTO*/

.depoimento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 0;
}

.text {
  color: #A66C00;
  font-size: 16px;
  font-family: 'Poppins', sans-serif; /* Definindo a fonte para Poppins */
}

.name {
  margin-top: 20px;
  color: #693A00;
  font-size: 24px;
  font-family: 'Merriweather', serif; /* Definindo a fonte para Merriweather */
}

.role {
  margin-top: 10px;
  color: #693A00;
  font-size: 14px;
  font-family: 'Poppins', sans-serif; /* Definindo a fonte para Poppins */
}

.depoimento, .passos, .sobre, .contato {
  text-align: center;
  padding: 50px 20px;
}



/*PASSOS*/

.group {
  width: 680px;
  background: white;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.rectangle {
  width: 100%;
  height: 50px;
}

.text {
  color: #A66C00;
  font-size: 16px;
}

.name, .role {
  margin-top: 20px;
  color: #693A00;
}

.name {
  font-size: 24px;
}

.role {
  font-size: 14px;
}

.titulo {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: #8B4513;
}

.subtitulo {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 80px;
}

.passos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.passo {
  background: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.icon {
  margin-bottom: 10px;
}

.icon-image {
  width: 15%;
  height: auto;
}

.passo-titulo {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.passo-descricao {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #666;
  text-align: justify;
  margin-right: 70px;
  margin-left: 70px;
}


/*BOTAO*/

.container-botao {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.botao {
  padding: 15px 30px;
  background-color: #8B4513;
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.botao:hover {
  background-color: #A0522D;
}


/*SOBRE NOS*/

.sobre {
  background-color: #f9f9f9;
}

.sobre .titulo {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sobre .descricao {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
}



/*LARES*/
.lares {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.lar {
  width: 45%; 
  background: white;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  padding: 20px;
  text-align: center;
}

.imagens {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.imagem {
  width: 45%; /* Ajuste conforme necessário */
  border-radius: 10px;
  object-fit: cover;
}


/*CONTATO*/

.contato {
  width: 100%;
  height: 20vh;
  background: #693A00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato-conteudo {
  display: flex;
  align-items: center;
}

.ic-phone {
  width: 81px;
  height: 81px;
  padding: 10px;
  margin-right: 20px;
}

.ic-phone img {
  width: 80px;
  height: 80px;
}

.contato-textos {
  text-align: center;
}

.alguma-duvida {
  font-family: 'Merriweather', serif;
  font-size: 45px;
  color: white;
}

.entre-em-contato {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}

.numero-telefone {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
}
