/* Configuração padrão */
body {
  font-family: 'Poppins', serif;
  background-color: #f8f9fa;
}

.perfil-img {
  border-radius: 10px;
  width: 150%;
  max-width: 250px;
  margin-top: 50px;
  margin-left: -110%;
}

.form-container {
  border: 2px solid #cdcdcd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 100%; /* Limita a largura em dispositivos menores */
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  color: #a66c00;
}

.carattere-font {
  font-family: 'Carattere', cursive;
  font-size: 35px;
  margin-left: -110%;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
  margin-left: -110%;
}

.bold {
  font-weight: bold;
}

.form-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container input[type="tel"],
.form-container input[type="date"],
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #a66c00;
  font-family: 'Poppins', serif;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #c37f02;
}

.success-message {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #4CAF50; /* Cor do contorno verde */
  background-color: #e8f5e9; /* Fundo verde claro */
  color: #2e7d32; /* Cor do texto */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
  h1 {
      font-size: 2rem; /* Diminui o tamanho do título */
  }

  .perfil-img {
      width: 100%; /* Ajusta a imagem de perfil */
      margin-left: 0;
  }

  .carattere-font,
  .roboto-font {
      margin-left: 0;
      font-size: 28px;
  }

  .form-container {
      padding: 15px; /* Reduz o espaçamento interno */
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
  h1 {
      font-size: 1.5rem;
  }

  .perfil-img {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
  }

  .carattere-font,
  .roboto-font {
      font-size: 22px; /* Reduz o tamanho da fonte em dispositivos móveis */
      margin-left: 0;
  }

  .form-container button {
      font-size: 0.9rem; /* Ajuste da fonte do botão */
  }
}
